<html>

<body>

    <form action="{{ url_for('kundendaten') }}" method="POST">
        <h3>Raumschiffgesellschaft Buchung</h3>
        Vorname<br>
        <input type="text" name="vn" /></br>

        Nachname<br>
        <input type="text" name="nn" /></br>

        SvNr<br>
        <input type="number" name="svnr" minlength="10" maxlength="10" /></br>

        Wohnort<br>
        <input type="text" name="wo" /></br>

        Straße<br>
        <input type="text" name="strs" /></br>

        Hausnummer<br>
        <input type="number" name="hnr" /></br>

        PLZ<br>
        <input type="number" name="plz" /></br>

        Telefonnummer<br>
        <input type="number" name="tnr" /><br>
        <input type="submit" value="weiter" /><br>
    </form>

</body>

</html>